.heroUl {
	list-style: none;
}

.heroUl li {
	color: white;
	position: relative;
	padding-left: 1.2em;
}

.heroUl li::before {
	content: "•";
	color: limegreen;
	position: absolute;
	left: 0;
}

.heroDiv {
	background-image: url("../images/podcast.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-color: rgba(75, 50, 100, 0.7);
}
